* {
  font-family: Copperplate, Papyrus, fantasy;
  color: black;
}

body {
  margin: 0%;
  background-size: cover;
}

.monster {
  height: 100vh;
  background-image: url("./assets/CookieMonster6.jpg");
  background-size: cover;
  background-position: center center;
}

h1 {
  padding: 10px;
  font-size: 50px;
  margin: 0;
  /* position: absolute; */
  /* z-index: 1; */
}

h2 {
  /* margin: 5%; */
  margin-left: 5%;
  width: 20%;
  position: absolute;
}

#cookieBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#cookieBtn img {
  border: none;
  height: 50%;
}

#cookieBtn img:hover {
  transform: scale(1.1);
}

.cookieSelector {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
}

.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  padding: 10px;
  margin-left: 40%;
  /* border-style:solid;
  margin-top: 100px;
  margin-bottom: 100px */
}

.store button {
  margin-bottom: 10px;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  color: green;
}
.store h3 {
  color: white;
}

#resetBtn {
  background-color: red;
}

.counts {
  display: flex;
  justify-content: space-around;
  background-color: black;
  text-align: center;
  align-items: center;
}

.counts p {
  color: white;
  font-size: larger;
}

.counts span {
  color: green;
  font-size: 50px;
}

#errorMessage {
  text-align: center;
  color: red;
  font-size: 50px;
}

p {
  color: aquamarine;
}
.buttonContainer {
  display: flex;
}
